{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Align images</title>
    </head>
    <body>

        {% include 'header_template.html' %}

        <div class="body">
            <div style="margin-top: 20px;">
                <span class="title-2"><kbd>5 bis. Alignement vertical de deux images</kbd></span>
                <form class="form" enctype="multipart/form-data" action="{% url 'align-images-vertical' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <div class="submit-container">
                        <input class="submit" type="submit" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        {% if image_url and image_url_2 and combined_image_url %}
            <img src="{% static image_url %}">
            <img src="{% static image_url_2 %}">
            <img src="{% static combined_image_url %}">
        {% endif %}
    </body>
</html>