{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Apply grayscale</title>
    </head>
    <body>

        {% include 'header_template.html' %}

        <div class="body">
            <div style="margin-top: 20px;">
                <span class="title-2"><kbd>3. Application de nuances de gris</kbd></span>
                <form class="form" enctype="multipart/form-data" action="{% url 'apply-grey' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <label for="num_shades">Nombre de nuances de gris :</label>
                    <input type="number" name="num_shades" id="num_shades" min="2" max="256" value="256">
                    <div class="submit-container">
                        <input class="submit" type="submit" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        {% if image_url and gray_image_url %}
        <div class="result-container">
            <img src="{% static image_url %}" style="width: 500px; height: 500px;" alt="Image originale">
            <img src="{% static gray_image_url %}" style="width: 500px; height: 500px;" alt="Image en noir et blanc">
        </div>
        {% endif %}
    </body>
</html>