{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Home</title>
    </head>
    <body>

        {% include 'header_template.html' %}

        <div class="body">
            <div style="margin-top: 20px;">
                <span class="title-1"><kbd>1. Importation d'image</kbd></span>
                <form class="form" enctype="multipart/form-data" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <div class="submit-container">
                        <input class="submit" type="submit" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        {% if image_url %}
        <div class="result-container">
            <img src="{% static image_url %}" style="width: 500px; height: 500px;" alt="Uploaded Image">
        </div>
        {% endif %}
    </body>
</html>