{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Merge images</title>
    </head>
    <body>

        {% include 'header_template.html' %}

        <div class="body">
            <div style="margin-top: 20px;">
                <span class="title-2"><kbd>6. Fusion de deux images</kbd></span>
                <form class="form" enctype="multipart/form-data" action="{% url 'merge-images' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <div style="display: flex; flex-direction: column; width: 300px; gap: 10px;">
                        <label for="ratio">Ratio de fusion (de 0.1 à 1) :</label>
                        <input type="number" name="ratio" id="ratio" step="0.01" min="0.1" max="1">
                        <label for="position1_x">Position de X de l'image 1 :</label>
                        <input type="number" name="position1_x" id="position1_x" required>
                        <label for="position1_y">Position de Y de l'image 1 :</label>
                        <input type="number" name="position1_y" id="position1_y" required>
                        <label for="position2_x">Position de X de l'image 2 :</label>
                        <input type="number" name="position2_x" id="position2_x" required>
                        <label for="position2_y">Position de Y de l'image 2 :</label>
                        <input type="number" name="position2_y" id="position2_y" required>
                    </div>
                    <div class="submit-container">
                        <input class="submit" type="submit" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        {% if image_url and image_url_2 and merged_image_url %}
            <img src="{% static image_url %}">
            <img src="{% static image_url_2 %}">
            <img src="{% static merged_image_url %}">
        {% endif %}
    </body>
</html>