{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Merge images</title>
    </head>
    <body>

        {% include 'header_template.html' %}

        <div class="body">
            <div style="margin-top: 20px;">
                <span class="title-2"><kbd>6. Fusion de deux images</kbd></span>
                <form class="form" enctype="multipart/form-data" action="{% url 'merge-images' %}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <label for="num_shades">Ratio de fusion (de 0.1 à 1) :</label>
                    <input type="number" name="ratio" id="ratio" step="0.01" min="0.1" max="1">
                    <div class="submit-container">
                        <input class="submit" type="submit" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        <script>
            console.log('merge : {{image_url}} + {{image_url_2}} + {{merged_image_url}}')
        </script>

        {% if image_url and image_url_2 and merged_image_url %}
            <img src="{% static image_url %}">
            <img src="{% static image_url_2 %}">
            <img src="{% static merged_image_url %}">
        {% endif %}
    </body>
</html>